name: Protocol Build & Push Image to ghci.io

on:  # yamllint disable-line rule:truthy
  push:
    branches:
      - 'main'
    paths-ignore:
      - '.github/workflows/release.yaml'

env:
  REGISTRY: ghcr.io
  USERNAME: ${{secrets.GHCR_USERNAME}}
  PASSWORD: ${{ secrets.GHCR_PASSWORD}}
  REGISTRY_REPOSITORY: hyperliquid-node-metric-exporter
  COMMIT_HASH: $(git rev-parse --short=7 HEAD)


jobs:
  build-and-push-mainnet:
    runs-on: ubuntu-latest
    environment: master-production
    permissions:
      contents: 'read'
      packages: 'write'
      id-token: 'write'
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: '0'  # without this, ignite fails.

      - name: Log in to Docker Hub
        uses:  docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ env.USERNAME }}
          password: ${{ env.PASSWORD }}


      - name: Build and Push Docker image
        id: build-image
        run: |
          commit_hash=$(git rev-parse --short=7 HEAD)
          image_name=$REGISTRY/alfred-hq/$REGISTRY_REPOSITORY
      
          # Build the image with commit hash tag
          docker build \
            --platform amd64 \
            -t $image_name:$commit_hash \
            -t $image_name:latest \
            -f Dockerfile .
      
          # Push both tags
          docker push $image_name:$commit_hash
          docker push $image_name:latest